# ignore ALL files in ANY directory named .git
.git/

# ignore ALL files in ANY directory named .idea
.idea/

# ignore ALL files started with ~
~*

# ignore ALL files started with .~
.~*

# ignore ALL files finish with .dkp
*.dkp
*.dtmp
*.bak